*{
 margin: 0px;
 padding: 0px;
}

.dashboard{
    display: grid;
    grid-template-columns: 150px 1fr;
}

.Symptom{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    padding-top:25px;
}
h2{
    margin-left:20px ;
}
.sym{
 margin: 14px;

}
.submit{
    font-size:17px;
    width: 100px;
    height: 40px;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 10px;
    color: black;
    border: 1px solid yellowgreen;
    margin-top: 22px;
    background-color: yellowgreen;
}
.submit:hover{
background-color: rgb(182, 236, 72);
border: 1px solid rgb(182, 236, 72);
}