*{
 margin: 0px;
 padding: 0px;
}

.prediction{
    height: 350px;
    margin: 30px;
    display: grid;
    grid-template-columns: 400px 1fr;
}

.dashboard{
    display: grid;
    grid-template-columns: 150px 1fr;
}

.Symptom{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    padding-top:25px;
}

form input{
    margin: 0px 10px;
    border-radius: 5px;
    border: 0.5px solid rgb(167, 167, 167);
    height: 30px;
    width: 200px;
    padding: 0px 8px;
}

.sym{
    margin: 14px;
}

.submit{
    width: 80px;
    height: 40px;
    margin-left: 140px;
    margin-top: 20px;
    border-radius: 10px;
    color: black;
    border: 1px solid yellowgreen;
    margin-top: 22px;
    background-color: yellowgreen;
}
.submit:hover{
    background-color: rgb(182, 236, 72);
    border: 1px solid rgb(182, 236, 72);
}

.display_section{
    width: auto;
    margin: auto;
}